<!-- edit form column -->

<div class="col-md-12">
  <!--Start of Form netForm-->
  <form [formGroup]="netForm" class="form-horizontal" role="form" (ngSubmit)="onSubmit()">
    <!--Start of Net block-->
    <div class="panel-default">
      <div class="panel-heading-node panel-heading text-center">Сеть Ethernet</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-10">
            <div class="form-group">
              <label class="col-md-2 control-label">MAC-Адрес:</label>
              <div class="col-md-10">
                <input formControlName="mac" class="form-control" type="text">
                <div *ngIf="f.mac.errors?.pattern">Неправильный mac адрес!</div>
                <div *ngIf="f.mac.errors?.required">Поле обязательно</div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label">Имя хоста:</label>
              <div class="col-md-10">
                <input formControlName="host" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.host.errors }" type="text">
                <div *ngIf="f.host.errors?.pattern && (f.host.dirty || f.host.touched)">Неправильный host адрес!</div>
                <div *ngIf="f.host.errors?.required">Поле обязательно</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--End of Net block-->
    <!--Start of IP-address block-->
    <div class="panel-default">
      <div class="panel-heading-node panel-heading text-left">IP-адрес</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-10">
            <label class="col-md-2 control-label">Источник</label>
            <div class="btn-group">
              <button class="btn"
                      type="button"  [ngClass]="{'active': true}"
                      (click)="onIpDhcpClick()">DHCP</button>
              <button class="btn"
                      type="button" [ngClass]="{'active': false}"
                      (click)="onIpHandyClick()">Вручную</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-10">
            <div class="form-group">
              <label class="col-md-2 control-label">IP адрес</label>
              <div class="col-md-10">
                <input formControlName="ip" class="form-control" [ngClass]="{ 'is-invalid': f.ip.errors?.pattern }" type="text">
                <div *ngIf="f.ip.errors?.pattern && (f.ip.dirty || f.ip.touched)">Неправильный ip!</div>
                <div *ngIf="f.ip.errors?.required">Поле обязательно</div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label">Маска подсети</label>
              <div class="col-md-10">
                <input formControlName="mask" class="form-control" [ngClass]="{ 'is-invalid':f.mask.errors?.pattern } "type="text">
                <div *ngIf="f.mask.errors?.pattern && (f.mask.dirty || f.mask.touched)">Неправильная маска подсети!</div>
                <div *ngIf="f.mask.errors?.required">Поле обязательно</div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label">Шлюз</label>
              <div class="col-md-10">
                <input formControlName="gateway" class="form-control" [ngClass]="{ 'is-invalid':f.gateway.errors?.pattern } "type="text">
                <div *ngIf="f.gateway.errors?.pattern && (f.gateway.dirty || f.gateway.touched)">Неправильный шлюз!</div>
                <div *ngIf="f.gateway.errors?.required">Поле обязательно</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--End of IP-address block-->
    <!--Start DNS-server block-->
    <div class="panel-default">
      <div class="panel-heading-node panel-heading text-left">DNS-сервер</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-10">
            <label class="col-md-2 control-label">Источник</label>
            <div class="btn-group">
              <button class="btn"
                      type="button" [ngClass]="{'active': true}"
                      (click)="onDnsDhcpClick()">DHCP</button>
              <button class="btn"
                      type="button" [ngClass]="{'active': false}"
                      (click)="onDnsHandyClick()">Вручную</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-10">
            <div class="form-group">
              <label class="col-md-2 control-label">Сервер 1</label>
              <div class="col-md-10">
                <input formControlName="server1" class="form-control" [ngClass]="{ 'is-invalid': f.server1.errors?.pattern }" type="text">
                <div *ngIf="f.server1.errors?.pattern && (f.server1.dirty || f.server1.touched)">Неправильный ip!</div>
                <div *ngIf="f.server1?.errors?.required">Поле обязательно</div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label">Сервер 1</label>
              <div class="col-md-10">
                <input formControlName="server2" class="form-control" [ngClass]="{ 'is-invalid':f.server2.errors?.pattern } "type="text">
                <div *ngIf="f.server2.errors?.pattern && (f.server2.dirty || f.server2.touched)">Неправильный ip!</div>
                <div *ngIf="f.server2.errors?.required">Поле обязательно</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--End of DNS-server block-->
    <!--Start of submit panel block-->
    <div class="panel-default">
      <!--<div class="panel-heading-node panel-heading text-left">DNS-сервер</div>-->
      <div class="panel-body-submit panel-body">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-10">
            <div class="buttons btn">
              <div class="btn-group">
                <button class="btn"
                        type="submit"
                        [disabled]="!netForm.valid">Сохранить</button>
                <button class="btn" type="button" (click)="onCancel()">Отмена</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--End of submit panel block-->
  </form>
  <!--End of Form netForm-->
</div>




