.btn-group {
    padding-left: 2px;
    padding-right: 2px;
}
.btn-group .btn {
    color: #3D444C;
    margin: 1px;
}
.form-horizontal .form-group {
    margin-top: 15px;
    margin-bottom: 15px;
}
.panel-default.panel-body
{
    background: #3D444C;
    border: none;
}

.panel-default>.panel-heading-node
{
    color: #ffffff;
    background: #7A8187;
    border: none;
}

.panel-default>.panel-body-submit
{
    background: #3D444C;
    border: none;

}

.col-sm-6,col-sm-8
{
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.panel-body {

    padding: 10px;

}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

.buttons { display: block; text-align: right; }
.buttons .btn { float: none; }